.form {
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  border: 2mm ridge rgba(154, 140, 160, 0.6);
  padding: 10px;
  margin: 0px;
}
.input {
  margin-top: 15px;
  margin-bottom: 15px;
}
.button {
  max-width: 100px;
}
